<?xml version="1.0" encoding="UTF-8"?>
<document xmlns="http://maven.apache.org/XDOC/2.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://maven.apache.org/XDOC/2.0 http://maven.apache.org/xsd/xdoc-2.0.xsd">

    <properties>
        <title>About</title>
    </properties>

    <body>
        <section name="About">
            <p>
                Extended version of the <a href="http://lesscss-compiler.projects.gabrys.biz/">LessCSS Compiler</a>
                (Java library which compiles <a href="http://lesscss.org/">Less</a> source files to the <a href="http://www.w3.org/Style/CSS/">CSS</a> code).
                Adds features such as:
            </p>
            <ul>
                <li>caching (<a href="caching-data.html">see caching data</a>):
                    <ul>
                        <li>compiled code</li>
                        <li>source code</li>
                    </ul>
                </li>
                <li>supports sources located at:
                    <ul>
                        <li>local drives</li>
                        <li>network protocols: HTTP, HTTPS, FTP</li>
                        <li>classpath (prefix <code>classpath://</code>)</li>
                        <li><a href="locations.html#custom">custom - defined by programmers</a></li>
                    </ul>
                </li>
            </ul>
        </section>
        <section name="Compatibility">
            <p>
                 The compatibility with the <a href="http://lesscss.org/">Less</a> language is determined by:
             </p>
             <ul>
                 <li>native compiler implementation (<a href="http://lesscss-compiler.projects.gabrys.biz/1.2.1/apidocs/index.html?biz/gabrys/lesscss/compiler/LessCompiler.html">biz.gabrys.lesscss.compiler.LessCompiler</a>)</li>
                 <li>supported locations of sources (<a href="locations.html#matrix">see supported locations matrix</a>)</li>
             </ul>
        </section>
        <section name="Requirements">
            <p>
                The compiler to run requires:
            </p>
            <ul>
                <li>Java 5.0 or higher</li>
                <li>Third-Party Dependencies (<a href="dependencies.html">see list</a>)</li>
            </ul>
        </section>
        <section name="Download">
            <p>
                You can download the library from <a href="download.html">this page</a> or using various
                <a href="dependency-info.html">dependency management tools</a>.
            </p>
        </section>
    </body>
</document>
